.error-display {
    border: 1px solid red;
}

#error {
    text-align: center;
    color: red;
}


.success-display {
    border: 1px solid green;
}

#success {
    text-align: center;
    color: green;
}

.hide-element {
    display: none;
}