.wrapper {
    display: flex;
    justify-content: space-around;
}

#child {
    width: 100px;
    height: 100px;
    background-color: purple;
}

#parent-left,
#parent-right {
    margin: 25px;
    border: 1px red solid;
    width: 1000px;
    height: 250px;
}